# Homework week 5

Attention! The schema for "fhvhv_tripdata_2021-06" is different than "fhvhv_tripdata_2021-01".

## Question 1. Install Spark and PySpark

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
# create a local spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [6]:
spark.version

'3.3.2'

## Question 2. HVFHW June 2021

In [154]:
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz -P data
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz -P data

--2023-02-24 05:00:26--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz
Resolving github.com (github.com)... 140.82.121.4
Connecting to github.com (github.com)|140.82.121.4|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230224%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230224T040026Z&X-Amz-Expires=300&X-Amz-Signature=e96eedcdb35ed90ac52b274e1cdb3665c5f5867e084b50ea1f9ef789256fdb36&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-02-24 05:00:27--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/4564ad9e-a6da-4923-ad6f-35ff02446a51?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230224%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230224T040026Z&X-Amz-Expires=300&X-Amz-Signature=e96eedcdb35ed90ac52b274e1cdb3665c5f5867e084b50ea1f9ef789256fdb36&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-06.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.109.133, 185.199.110.133, 185.199.111.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.109.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 175799316 (168M) [application/octet-stream]
Saving to: ‘data/fhvhv_tripdata_2021-06.csv.gz.1’

fhvhv_tripdata_2021 100%[===================>] 167,66M  10,0MB/s    in 18s

2023-02-24 05:00:45 (9,53 MB/s) - ‘data/fhvhv_tripdata_2021-06.csv.gz.1’ saved [175799316/175799316]

In [157]:
csv_file = "fhvhv_tripdata_2021-06.csv.gz"

In [155]:
df = spark.read \
    .option("header", "true") \
    .csv(f'data/{csv_file}')

In [156]:
df.schema

StructType([StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True), StructField('Affiliated_base_number', StringType(), True)])

In [160]:
from pyspark.sql import types

In [161]:
schema = types.StructType([
    types.StructField('dispatching_base_num', types.StringType(), True), 
    types.StructField('pickup_datetime', types.TimestampType(), True), 
    types.StructField('dropoff_datetime', types.TimestampType(), True), 
    types.StructField('PULocationID', types.IntegerType(), True), 
    types.StructField('DOLocationID', types.IntegerType(), True), 
    types.StructField('SR_Flag', types.StringType(), True), 
    types.StructField('Affiliated_base_number', types.StringType(), True)
])

In [162]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
   .csv(f'data/{csv_file}')

In [163]:
df.show()

+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|Affiliated_base_number|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
|              B02764|2021-06-01 00:02:41|2021-06-01 00:07:46|         174|          18|      N|                B02764|
|              B02764|2021-06-01 00:16:16|2021-06-01 00:21:14|          32|         254|      N|                B02764|
|              B02764|2021-06-01 00:27:01|2021-06-01 00:42:11|         240|         127|      N|                B02764|
|              B02764|2021-06-01 00:46:08|2021-06-01 00:53:45|         127|         235|      N|                B02764|
|              B02510|2021-06-01 00:45:42|2021-06-01 01:03:33|         144|         146|      N|                  null|
|              B02510|2021-06-01 00:18:15|2021-06-01 00:25:47|          49|          17|      N|                  null|
|              B02510|2021-06-01 00:33:06|2021-06-01 00:42:46|          49|         225|      N|                  null|
|              B02510|2021-06-01 00:46:27|2021-06-01 00:56:50|         225|         177|      N|                  null|
|              B02764|2021-06-01 00:48:06|2021-06-01 01:04:10|         209|          45|      N|                B02764|
|              B02875|2021-06-01 00:18:54|2021-06-01 00:26:14|          80|         256|      N|                B02875|
|              B02875|2021-06-01 00:31:02|2021-06-01 00:36:39|         217|          17|      N|                B02875|
|              B02875|2021-06-01 00:41:53|2021-06-01 01:07:32|          17|         265|      N|                B02875|
|              B02875|2021-06-01 00:29:52|2021-06-01 00:54:41|         210|          76|      N|                B02875|
|              B02510|2021-06-01 00:15:57|2021-06-01 00:39:36|         226|         213|      N|                  null|
|              B02510|2021-06-01 00:11:59|2021-06-01 00:23:32|         191|           9|      N|                  null|
|              B02510|2021-06-01 00:30:35|2021-06-01 00:45:35|          16|         250|      N|                  null|
|              B02510|2021-06-01 00:49:01|2021-06-01 01:03:50|         182|         259|      N|                  null|
|              B02510|2021-06-01 00:07:36|2021-06-01 00:21:13|         188|          72|      N|                  null|
|              B02510|2021-06-01 00:25:48|2021-06-01 00:40:43|          39|          72|      N|                  null|
|              B02510|2021-06-01 00:46:11|2021-06-01 00:53:39|          72|          35|      N|                  null|
+--------------------+-------------------+-------------------+------------+------------+-------+----------------------+
only showing top 20 rows

In [164]:
df = df.repartition(12)

In [167]:
df.write.parquet('data/fhvhv/2021/06/', mode="overwrite")

23/02/24 05:09:55 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

23/02/24 05:10:00 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/02/24 05:10:01 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [170]:
! ls -la data/fhvhv/2021/06/*.parquet

-rw-r--r-- 1 hirobo hirobo 24811947 Feb 24 05:10 data/fhvhv/2021/06/part-00000-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24805501 Feb 24 05:10 data/fhvhv/2021/06/part-00001-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24793917 Feb 24 05:10 data/fhvhv/2021/06/part-00002-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24816594 Feb 24 05:10 data/fhvhv/2021/06/part-00003-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24809134 Feb 24 05:10 data/fhvhv/2021/06/part-00004-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24808504 Feb 24 05:10 data/fhvhv/2021/06/part-00005-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24808833 Feb 24 05:10 data/fhvhv/2021/06/part-00006-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24811026 Feb 24 05:10 data/fhvhv/2021/06/part-00007-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24793795 Feb 24 05:10 data/fhvhv/2021/06/part-00008-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24807759 Feb 24 05:10 data/fhvhv/2021/06/part-00009-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24801318 Feb 24 05:10 data/fhvhv/2021/06/part-00010-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet
-rw-r--r-- 1 hirobo hirobo 24807436 Feb 24 05:10 data/fhvhv/2021/06/part-00011-9ceaf9a1-ca3d-4bd6-8ec5-e94b890cce0d-c000.snappy.parquet

=> 24MB

## Question 3. Count records

In [171]:
df = spark.read.parquet('data/fhvhv/2021/06/')

In [172]:
df.printSchema()

root
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)
 |-- Affiliated_base_number: string (nullable = true)

In [173]:
import datetime

In [174]:
df.filter(df.pickup_datetime >= datetime.datetime(2021, 6, 15)) \
  .filter(df.pickup_datetime < datetime.datetime(2021, 6, 16)) \
  .count()

452470

=> 452,470

## Question 4. Longest trip for each day

In [175]:
from pyspark.sql import functions as F

In [181]:
def duration(pickup, dropoff):
    return int((dropoff - pickup).total_seconds() / 360)

In [182]:
duration_udf = F.udf(duration, returnType=types.IntegerType())

In [178]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('duration', duration_udf(df.pickup_datetime, df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date', 'duration', 'PULocationID', 'DOLocationID') \
    .show()

+-----------+------------+--------+------------+------------+
|pickup_date|dropoff_date|duration|PULocationID|DOLocationID|
+-----------+------------+--------+------------+------------+
| 2021-06-11|  2021-06-11|       7|         230|          43|
| 2021-06-13|  2021-06-13|      16|          37|          61|
| 2021-06-28|  2021-06-28|      11|         231|          79|
| 2021-06-05|  2021-06-05|      13|         244|         127|
| 2021-06-06|  2021-06-06|      11|          82|          82|
| 2021-06-07|  2021-06-07|      10|          89|         188|
| 2021-06-09|  2021-06-09|      28|         164|         246|
| 2021-06-27|  2021-06-27|      22|          41|         230|
| 2021-06-09|  2021-06-09|       4|         149|         123|
| 2021-06-20|  2021-06-20|      12|          28|         216|
| 2021-06-25|  2021-06-25|      55|         239|         244|
| 2021-06-13|  2021-06-13|      19|         149|          89|
| 2021-06-14|  2021-06-14|      19|          36|          26|
| 2021-06-25|  2021-06-25|      41|         138|         265|
| 2021-06-05|  2021-06-05|       7|          41|          41|
| 2021-06-28|  2021-06-28|      40|         133|          10|
| 2021-06-29|  2021-06-29|      20|         223|           4|
| 2021-06-25|  2021-06-25|      92|          72|         147|
| 2021-06-09|  2021-06-09|      25|         234|          52|
| 2021-06-30|  2021-06-30|      12|          17|          61|
+-----------+------------+--------+------------+------------+
only showing top 20 rows

In [183]:
from pyspark.sql.functions import desc, max

In [184]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('duration', duration_udf(df.pickup_datetime, df.dropoff_datetime)) \
    .groupBy('pickup_date') \
    .max('duration') \
    .withColumnRenamed('max(duration)', 'max_duration') \
    .sort(desc('max_duration')) \
    .show()

+-----------+------------+
|pickup_date|max_duration|
+-----------+------------+
| 2021-06-25|         668|
| 2021-06-22|         255|
| 2021-06-27|         199|
| 2021-06-26|         181|
| 2021-06-23|         164|
| 2021-06-24|         139|
| 2021-06-04|         116|
| 2021-06-20|         109|
| 2021-06-01|         102|
| 2021-06-28|          99|
| 2021-06-18|          96|
| 2021-06-08|          94|
| 2021-06-11|          94|
| 2021-06-15|          94|
| 2021-06-03|          93|
| 2021-06-19|          91|
| 2021-06-30|          90|
| 2021-06-09|          90|
| 2021-06-17|          87|
| 2021-06-29|          85|
+-----------+------------+
only showing top 20 rows

=> 66.87 Hours

## Question 5: User Interface

=> 4040

## Question 6: Most frequent pickup location zone

In [186]:
df_locations = df \
    .select('PULocationID') \
    .groupBy('PULocationID') \
    .count() \
    .sort(desc("count"))

In [187]:
df_zones = spark.read.parquet('data/zones/')

In [188]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [189]:
from pyspark.sql.functions import col

df_locations \
    .join(df_zones, df_zones.LocationID == df_locations.PULocationID, "left") \
    .show()

+------------+------+----------+---------+--------------------+------------+
|PULocationID| count|LocationID|  Borough|                Zone|service_zone|
+------------+------+----------+---------+--------------------+------------+
|          61|231279|        61| Brooklyn| Crown Heights North|   Boro Zone|
|          79|221244|        79|Manhattan|        East Village| Yellow Zone|
|         132|188867|       132|   Queens|         JFK Airport|    Airports|
|          37|187929|        37| Brooklyn|      Bushwick South|   Boro Zone|
|          76|186780|        76| Brooklyn|       East New York|   Boro Zone|
|         231|164344|       231|Manhattan|TriBeCa/Civic Center| Yellow Zone|
|         138|161596|       138|   Queens|   LaGuardia Airport|    Airports|
|         234|158937|       234|Manhattan|            Union Sq| Yellow Zone|
|         249|154698|       249|Manhattan|        West Village| Yellow Zone|
|           7|152493|         7|   Queens|             Astoria|   Boro Zone|
|         148|151020|       148|Manhattan|     Lower East Side| Yellow Zone|
|          68|147673|        68|Manhattan|        East Chelsea| Yellow Zone|
|          42|146402|        42|Manhattan|Central Harlem North|   Boro Zone|
|         255|143683|       255| Brooklyn|Williamsburg (Nor...|   Boro Zone|
|         181|143594|       181| Brooklyn|          Park Slope|   Boro Zone|
|         225|141427|       225| Brooklyn|  Stuyvesant Heights|   Boro Zone|
|          48|139611|        48|Manhattan|        Clinton East| Yellow Zone|
|         246|139431|       246|Manhattan|West Chelsea/Huds...| Yellow Zone|
|          17|138428|        17| Brooklyn|             Bedford|   Boro Zone|
|         170|137879|       170|Manhattan|         Murray Hill| Yellow Zone|
+------------+------+----------+---------+--------------------+------------+
only showing top 20 rows

=> Crown Heights North