# Homework week 5

Currently the homework for week 5 for DE Zoomcamp 2023 is not yet published, so I'll follow the homework for 2022.
But we currently have no data "fhvhv_tripdata_2021-02", so I'll just use the data for January. I'll update it when the correct homework is updated.

## Question 1. Install Spark and PySpark

In [1]:
import pyspark
from pyspark.sql import SparkSession

In [5]:
# create a local spark session
spark = SparkSession.builder \
    .master("local[*]") \
    .appName('test') \
    .getOrCreate()

In [6]:
spark.version

'3.3.2'

## Question 2. HVFHW February 2021

In [27]:
# this original data has different schema than fhvhv_tripdata_2021-01.csv.gz, so we don't use it
#!wget https://d37ci6vzurychx.cloudfront.net/trip-data/fhvhv_tripdata_2021-02.parquet -P data
# there is no data for Feburary, so I'll use data for July 2021, but this also has different schema than January
#!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-06.csv.gz -P data
!wget https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz -P data

--2023-02-23 16:05:05--  https://github.com/DataTalksClub/nyc-tlc-data/releases/download/fhvhv/fhvhv_tripdata_2021-01.csv.gz
Resolving github.com (github.com)... 140.82.121.3
Connecting to github.com (github.com)|140.82.121.3|:443... connected.
HTTP request sent, awaiting response... 302 Found
Location: https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230223T150506Z&X-Amz-Expires=300&X-Amz-Signature=413c975589ed4ef8314726db914f6d18b6e194b98843081c56f837ecabac9d24&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream [following]
--2023-02-23 16:05:06--  https://objects.githubusercontent.com/github-production-release-asset-2e65be/513814948/035746e8-4e24-47e8-a3ce-edcf6d1b11c7?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=AKIAIWNJYAX4CSVEH53A%2F20230223%2Fus-east-1%2Fs3%2Faws4_request&X-Amz-Date=20230223T150506Z&X-Amz-Expires=300&X-Amz-Signature=413c975589ed4ef8314726db914f6d18b6e194b98843081c56f837ecabac9d24&X-Amz-SignedHeaders=host&actor_id=0&key_id=0&repo_id=513814948&response-content-disposition=attachment%3B%20filename%3Dfhvhv_tripdata_2021-01.csv.gz&response-content-type=application%2Foctet-stream
Resolving objects.githubusercontent.com (objects.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.110.133, ...
Connecting to objects.githubusercontent.com (objects.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 129967421 (124M) [application/octet-stream]
Saving to: ‘data/fhvhv_tripdata_2021-01.csv.gz’

fhvhv_tripdata_2021 100%[===================>] 123,95M  12,0MB/s    in 13s

2023-02-23 16:05:19 (9,87 MB/s) - ‘data/fhvhv_tripdata_2021-01.csv.gz’ saved [129967421/129967421]

In [41]:
df = spark.read \
    .option("header", "true") \
    .csv('data/fhvhv_tripdata_2021-01.csv.gz')

In [42]:
df.schema

StructType([StructField('hvfhs_license_num', StringType(), True), StructField('dispatching_base_num', StringType(), True), StructField('pickup_datetime', StringType(), True), StructField('dropoff_datetime', StringType(), True), StructField('PULocationID', StringType(), True), StructField('DOLocationID', StringType(), True), StructField('SR_Flag', StringType(), True)])

In [43]:
from pyspark.sql import types

In [44]:
schema = types.StructType([
    types.StructField('hvfhs_license_num', types.StringType(), True),
    types.StructField('dispatching_base_num', types.StringType(), True),
    types.StructField('pickup_datetime', types.TimestampType(), True),
    types.StructField('dropoff_datetime', types.TimestampType(), True),
    types.StructField('PULocationID', types.IntegerType(), True),
    types.StructField('DOLocationID', types.IntegerType(), True),
    types.StructField('SR_Flag', types.StringType(), True)
])

In [49]:
df = spark.read \
    .option("header", "true") \
    .schema(schema) \
    .csv('data/fhvhv_tripdata_2021-01.csv.gz')

In [50]:
df.show()

+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|hvfhs_license_num|dispatching_base_num|    pickup_datetime|   dropoff_datetime|PULocationID|DOLocationID|SR_Flag|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
|           HV0003|              B02682|2021-01-01 00:33:44|2021-01-01 00:49:07|         230|         166|   null|
|           HV0003|              B02682|2021-01-01 00:55:19|2021-01-01 01:18:21|         152|         167|   null|
|           HV0003|              B02764|2021-01-01 00:23:56|2021-01-01 00:38:05|         233|         142|   null|
|           HV0003|              B02764|2021-01-01 00:42:51|2021-01-01 00:45:50|         142|         143|   null|
|           HV0003|              B02764|2021-01-01 00:48:14|2021-01-01 01:08:42|         143|          78|   null|
|           HV0005|              B02510|2021-01-01 00:06:59|2021-01-01 00:43:01|          88|          42|   null|
|           HV0005|              B02510|2021-01-01 00:50:00|2021-01-01 01:04:57|          42|         151|   null|
|           HV0003|              B02764|2021-01-01 00:14:30|2021-01-01 00:50:27|          71|         226|   null|
|           HV0003|              B02875|2021-01-01 00:22:54|2021-01-01 00:30:20|         112|         255|   null|
|           HV0003|              B02875|2021-01-01 00:40:12|2021-01-01 00:53:31|         255|         232|   null|
|           HV0003|              B02875|2021-01-01 00:56:45|2021-01-01 01:17:42|         232|         198|   null|
|           HV0003|              B02835|2021-01-01 00:29:04|2021-01-01 00:36:27|         113|          48|   null|
|           HV0003|              B02835|2021-01-01 00:48:56|2021-01-01 00:59:12|         239|          75|   null|
|           HV0004|              B02800|2021-01-01 00:15:24|2021-01-01 00:38:31|         181|         237|   null|
|           HV0004|              B02800|2021-01-01 00:45:00|2021-01-01 01:06:45|         236|          68|   null|
|           HV0003|              B02682|2021-01-01 00:11:53|2021-01-01 00:18:06|         256|         148|   null|
|           HV0003|              B02682|2021-01-01 00:28:31|2021-01-01 00:41:40|          79|          80|   null|
|           HV0003|              B02682|2021-01-01 00:50:49|2021-01-01 00:55:59|          17|         217|   null|
|           HV0005|              B02510|2021-01-01 00:08:40|2021-01-01 00:39:39|          62|          29|   null|
|           HV0003|              B02836|2021-01-01 00:53:48|2021-01-01 01:11:40|          22|          22|   null|
+-----------------+--------------------+-------------------+-------------------+------------+------------+-------+
only showing top 20 rows

In [51]:
df = df.repartition(24)

In [54]:
df.write.parquet('fhvhv/2021/01/', mode="overwrite")

23/02/23 16:21:49 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

23/02/23 16:21:51 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/02/23 16:21:52 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

23/02/23 16:21:53 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

23/02/23 16:21:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers
23/02/23 16:21:54 WARN MemoryManager: Total allocation exceeds 95.00% (1,020,054,720 bytes) of heap memory
Scaling row group sizes to 95.00% for 8 writers

In [55]:
! du -m data/fhvhv/2021/01/

212	data/fhvhv/2021/01/

## Question 3. Count records

In [153]:
df = spark.read.parquet('data/fhvhv/2021/01/')

In [57]:
df.printSchema()

root
 |-- hvfhs_license_num: string (nullable = true)
 |-- dispatching_base_num: string (nullable = true)
 |-- pickup_datetime: timestamp (nullable = true)
 |-- dropoff_datetime: timestamp (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- SR_Flag: string (nullable = true)

In [59]:
import datetime

In [86]:
df.filter(df.pickup_datetime >= datetime.datetime(2021, 1, 15)) \
  .filter(df.pickup_datetime < datetime.datetime(2021, 1, 16)) \
  .count()

443059

## Question 4. Longest trip for each day

In [87]:
from pyspark.sql import functions as F

In [100]:
def duration(pickup, dropoff):
    return int((dropoff - pickup).total_seconds())

In [102]:
duration_udf = F.udf(duration, returnType=types.IntegerType())

In [103]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('dropoff_date', F.to_date(df.dropoff_datetime)) \
    .withColumn('duration', duration_udf(df.pickup_datetime, df.dropoff_datetime)) \
    .select('pickup_date', 'dropoff_date', 'duration', 'PULocationID', 'DOLocationID') \
    .show()

+-----------+------------+--------+------------+------------+
|pickup_date|dropoff_date|duration|PULocationID|DOLocationID|
+-----------+------------+--------+------------+------------+
| 2021-01-21|  2021-01-21|    3314|         256|         265|
| 2021-01-26|  2021-01-26|     443|         165|         165|
| 2021-01-19|  2021-01-19|    1078|          82|         137|
| 2021-01-27|  2021-01-27|     242|          97|          97|
| 2021-01-27|  2021-01-27|     490|         134|          95|
| 2021-01-17|  2021-01-17|    1194|          74|         116|
| 2021-01-28|  2021-01-28|    1060|          78|          75|
| 2021-01-04|  2021-01-04|    2044|         236|         126|
| 2021-01-21|  2021-01-21|     500|          79|         137|
| 2021-01-29|  2021-01-29|     449|         198|         157|
| 2021-01-24|  2021-01-24|     596|          37|          37|
| 2021-01-05|  2021-01-05|    1569|         106|          72|
| 2021-01-20|  2021-01-20|    1885|          35|         265|
| 2021-01-10|  2021-01-10|     396|          39|          39|
| 2021-01-26|  2021-01-26|    1537|          75|         265|
| 2021-01-06|  2021-01-06|    1400|         149|          39|
| 2021-01-09|  2021-01-09|    1990|         145|         227|
| 2021-01-15|  2021-01-15|     375|         142|         239|
| 2021-01-28|  2021-01-28|     646|         183|         242|
| 2021-01-17|  2021-01-17|     417|         203|         219|
+-----------+------------+--------+------------+------------+
only showing top 20 rows

In [108]:
from pyspark.sql.functions import desc, max

In [116]:
df \
    .withColumn('pickup_date', F.to_date(df.pickup_datetime)) \
    .withColumn('duration', duration_udf(df.pickup_datetime, df.dropoff_datetime)) \
    .groupBy('pickup_date') \
    .max('duration') \
    .withColumnRenamed('max(duration)', 'max_duration') \
    .sort(desc('max_duration')) \
    .show()

+-----------+------------+
|pickup_date|max_duration|
+-----------+------------+
| 2021-01-27|       59143|
| 2021-01-05|       45012|
| 2021-01-30|       41193|
| 2021-01-04|       39967|
| 2021-01-06|       38417|
| 2021-01-17|       34987|
| 2021-01-07|       34627|
| 2021-01-29|       30493|
| 2021-01-18|       29831|
| 2021-01-03|       29191|
| 2021-01-08|       28954|
| 2021-01-19|       28828|
| 2021-01-09|       28356|
| 2021-01-25|       27826|
| 2021-01-28|       27767|
| 2021-01-15|       27631|
| 2021-01-13|       27462|
| 2021-01-11|       26668|
| 2021-01-14|       26610|
| 2021-01-26|       26211|
+-----------+------------+
only showing top 20 rows

## Question 5. Most frequent dispatching_base_num

In [119]:
df.groupBy("dispatching_base_num").count().sort(desc("count")).show()

+--------------------+-------+
|dispatching_base_num|  count|
+--------------------+-------+
|              B02510|3091000|
|              B02764|1009388|
|              B02872| 924960|
|              B02875| 735450|
|              B02765| 591242|
|              B02869| 452098|
|              B02887| 333768|
|              B02871| 330085|
|              B02682| 321599|
|              B02864| 316395|
|              B02878| 312013|
|              B02866| 309274|
|              B02617| 281432|
|              B02883| 268391|
|              B02884| 257674|
|              B02882| 241988|
|              B02876| 230732|
|              B02867| 217449|
|              B02879| 216993|
|              B02877| 208986|
+--------------------+-------+
only showing top 20 rows

=> stage 77?

## Question 6. Most common locations pair

In [121]:
df_locations_pair = df \
    .select('PULocationID', 'DOLocationID') \
    .groupBy('PULocationID', 'DOLocationID') \
    .count() \
    .sort(desc("count"))#.show()

In [122]:
df_zones = spark.read.parquet('data/zones/')

In [124]:
df_zones.show()

+----------+-------------+--------------------+------------+
|LocationID|      Borough|                Zone|service_zone|
+----------+-------------+--------------------+------------+
|         1|          EWR|      Newark Airport|         EWR|
|         2|       Queens|         Jamaica Bay|   Boro Zone|
|         3|        Bronx|Allerton/Pelham G...|   Boro Zone|
|         4|    Manhattan|       Alphabet City| Yellow Zone|
|         5|Staten Island|       Arden Heights|   Boro Zone|
|         6|Staten Island|Arrochar/Fort Wad...|   Boro Zone|
|         7|       Queens|             Astoria|   Boro Zone|
|         8|       Queens|        Astoria Park|   Boro Zone|
|         9|       Queens|          Auburndale|   Boro Zone|
|        10|       Queens|        Baisley Park|   Boro Zone|
|        11|     Brooklyn|          Bath Beach|   Boro Zone|
|        12|    Manhattan|        Battery Park| Yellow Zone|
|        13|    Manhattan|   Battery Park City| Yellow Zone|
|        14|     Brooklyn|           Bay Ridge|   Boro Zone|
|        15|       Queens|Bay Terrace/Fort ...|   Boro Zone|
|        16|       Queens|             Bayside|   Boro Zone|
|        17|     Brooklyn|             Bedford|   Boro Zone|
|        18|        Bronx|        Bedford Park|   Boro Zone|
|        19|       Queens|           Bellerose|   Boro Zone|
|        20|        Bronx|             Belmont|   Boro Zone|
+----------+-------------+--------------------+------------+
only showing top 20 rows

In [137]:
df_zones = df_zones.drop('Borough', 'service_zone')

In [138]:
df_zones.show()

+----------+--------------------+
|LocationID|                Zone|
+----------+--------------------+
|         1|      Newark Airport|
|         2|         Jamaica Bay|
|         3|Allerton/Pelham G...|
|         4|       Alphabet City|
|         5|       Arden Heights|
|         6|Arrochar/Fort Wad...|
|         7|             Astoria|
|         8|        Astoria Park|
|         9|          Auburndale|
|        10|        Baisley Park|
|        11|          Bath Beach|
|        12|        Battery Park|
|        13|   Battery Park City|
|        14|           Bay Ridge|
|        15|Bay Terrace/Fort ...|
|        16|             Bayside|
|        17|             Bedford|
|        18|        Bedford Park|
|        19|           Bellerose|
|        20|             Belmont|
+----------+--------------------+
only showing top 20 rows

In [151]:
from pyspark.sql.functions import col

df_locations_pair \
    .join(df_zones.alias("pu"), col("pu.LocationID") == col("PULocationID"), "left") \
    .select(df_locations_pair["*"], col("pu.Zone").alias("PickupZone")) \
    .join(df_zones.alias("do"), col("do.LocationID") == col("DOLocationID"), "left") \
    .select(df_locations_pair["*"], "PickupZone", col("do.Zone").alias("DropoffZone")) \
    .sort(desc("count")) \
    .show()

+------------+------------+-----+--------------------+--------------------+
|PULocationID|DOLocationID|count|          PickupZone|         DropoffZone|
+------------+------------+-----+--------------------+--------------------+
|          76|          76|47637|       East New York|       East New York|
|          26|          26|30920|        Borough Park|        Borough Park|
|          39|          39|29897|            Canarsie|            Canarsie|
|          61|          61|28851| Crown Heights North| Crown Heights North|
|          42|          42|17379|Central Harlem North|Central Harlem North|
|          14|          14|15723|           Bay Ridge|           Bay Ridge|
|          37|          37|15345|      Bushwick South|      Bushwick South|
|          89|          89|14994|Flatbush/Ditmas Park|Flatbush/Ditmas Park|
|         129|         129|14720|     Jackson Heights|     Jackson Heights|
|         132|         265|14656|         JFK Airport|                  NA|
|          35|          35|14345|         Brownsville|         Brownsville|
|           7|           7|14063|             Astoria|             Astoria|
|          35|          76|13080|         Brownsville|       East New York|
|         216|         216|13012|    South Ozone Park|    South Ozone Park|
|         188|          61|12710|Prospect-Lefferts...| Crown Heights North|
|          61|         188|12449| Crown Heights North|Prospect-Lefferts...|
|          36|          37|12412|      Bushwick North|      Bushwick South|
|          37|          36|12317|      Bushwick South|      Bushwick North|
|          61|         225|12212| Crown Heights North|  Stuyvesant Heights|
|         225|          61|12145|  Stuyvesant Heights| Crown Heights North|
+------------+------------+-----+--------------------+--------------------+
only showing top 20 rows

=> East New York / East New York

## Bonus question. Join type

"left"